ACORD/Acord - Life, Annuity & Health Standards Program/XlifeBase2.20.01.xsd

<!--

IMPORTANT NOTE:      This document contains or relates to ACORD Standard Life, Annuity &amp; Health. You are 
       not authorized to use the ACORD Standard contained in this document unless you have accepted the terms and 
       conditions of the Standards License accessible at http://legal.acord.org/standards_license.htm. To gain such 
       authorization, please go to that site and, if you agree with the terms and conditions of the Standards License, 
       enter whatever information is called for, if any, and click on "Accept".


        ACORD XlifeBase Business Message/Transaction Specification
        Revision: 2.20.01
        Date: Monday, February 23, 2009
        (c) ACORD Corporation, 2000-2003 All Rights Reserved - www.acord.org
        For Use Only by ACORD Members and parties obtaining written ACORD permission
        under the ACORD Standards Terms and Conditions of Use
        Produced by Blue Frog ADMServer - www.bluefrogsolutions.com

-->
<xsd:schema targetNamespace="http://ACORD.org/Standards/Life/2" xmlns="http://ACORD.org/Standards/Life/2" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.20.01" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="AttachmentReference" type="AttachmentReference_Type" />
 <xsd:complexType name="AttachmentReference_Type">
  <xsd:sequence />
  <xsd:attribute name="AttachmentID" type="xsd:IDREF" use="required" />
 </xsd:complexType>
 <xsd:element name="Criteria" type="Criteria_Type" />
 <xsd:complexType name="Criteria_Type">
  <xsd:sequence>
   <xsd:element ref="ObjectType" />
   <xsd:element ref="PropertyName" />
   <xsd:element ref="PropertyValue" minOccurs="0" />
   <xsd:element ref="Operation" />
   <xsd:element ref="ComparedObjectType" minOccurs="0" />
   <xsd:element ref="ComparedPropertyName" minOccurs="0" />
   <xsd:element ref="PercentageMatch" minOccurs="0" />
   <xsd:element ref="LikeConstraintType" minOccurs="0" />
   <xsd:element ref="LikeConstraintLimit" minOccurs="0" />
   <xsd:element ref="KeyedValue" minOccurs="0" maxOccurs="unbounded" />
   <xsd:element ref="OLifEExtension" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name="JurisdictionApproval" type="JurisdictionApproval_Type" />
 <xsd:complexType name="JurisdictionApproval_Type">
  <xsd:sequence>
   <xsd:element ref="JurisdictionApprovalKey" minOccurs="0" />
   <xsd:element ref="JurisdictionApprovalSysKey" minOccurs="0" maxOccurs="unbounded" />
   <xsd:element ref="Jurisdiction" minOccurs="0" />
   <xsd:element ref="SaleEffectiveDate" minOccurs="0" />
   <xsd:element ref="SaleExpirationDate" minOccurs="0" />
   <xsd:element ref="InforceExclusionCalendarDate" minOccurs="0" />
   <xsd:element ref="InforceExclusionContractDate" minOccurs="0" />
   <xsd:element ref="NoNewMoneyDate" minOccurs="0" />
   <xsd:element ref="FiledFormNumber" minOccurs="0" />
   <xsd:element ref="ContractSitusCanDifferInd" minOccurs="0" />
   <xsd:element ref="OLifEExtension" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:ID" />
  <xsd:attribute name="DataRep" type="DATAREP_TYPES" />
 </xsd:complexType>
 <xsd:element name="JurisdictionCC" type="JurisdictionCC_Type" />
 <xsd:complexType name="JurisdictionCC_Type">
  <xsd:sequence>
   <xsd:element ref="Jurisdiction" maxOccurs="unbounded" />
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name="KeyedValue" type="KeyedValue_Type" />
 <xsd:complexType name="KeyedValue_Type">
  <xsd:sequence>
   <xsd:element ref="KeyName" />
   <xsd:element ref="VendorCode" minOccurs="0" />
   <xsd:element ref="KeyValue" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:ID" />
  <xsd:attribute name="tc" type="OLI_LU_VARIANTATT" />
  <xsd:attribute name="DataRep" type="DATAREP_TYPES" />
  <xsd:attribute name="SystemCode" type="xsd:string" />
 </xsd:complexType>
 <xsd:element name="OLifEExtension">
  <xsd:complexType mixed="true">
   <xsd:sequence>
    <xsd:any processContents="skip" maxOccurs="unbounded" />
   </xsd:sequence>
   <xsd:attribute name="VendorCode" type="xsd:string" use="required" />
   <xsd:attribute name="ExtensionCode" type="xsd:string" />
   <xsd:attribute name="DataRep" type="DATAREP_TYPES" />
   <xsd:attribute name="SystemCode" type="xsd:string" />
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="TableRef" type="TableRef_Type" />
 <xsd:complexType name="TableRef_Type">
  <xsd:sequence>
   <xsd:element ref="TableRefKey" minOccurs="0" />
   <xsd:element ref="TableRefSysKey" minOccurs="0" maxOccurs="unbounded" />
   <xsd:element ref="TableIdentity" />
   <xsd:element ref="ProviderDomain" />
   <xsd:element ref="ContentType" minOccurs="0" />
   <xsd:element ref="TableName" minOccurs="0" />
   <xsd:element ref="StartDate" minOccurs="0" />
   <xsd:element ref="EndDate" minOccurs="0" />
   <xsd:element ref="JurisdictionApproval" minOccurs="0" maxOccurs="unbounded" />
   <xsd:element ref="ContentSubType" minOccurs="0" />
   <xsd:element ref="ComplexContentCode" minOccurs="0" />
   <xsd:element ref="OLifEExtension" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:ID" />
  <xsd:attribute name="DataRep" type="DATAREP_TYPES" />
  <xsd:attribute name="XTbMLID" type="xsd:IDREF" />
 </xsd:complexType>
 <!-- ********** PROPERTIES ********** -->
 <xsd:element name="AgeCalculationType" type="OLI_LU_AGECALCMETH" />
 <xsd:element name="ComparedObjectType" type="OLI_LU_OBJECTTYPE" />
 <xsd:element name="ComparedPropertyName" type="xsd:string" />
 <xsd:element name="ComplexContentCode" type="xsd:string" />
 <xsd:element name="ContentSubType" type="CONTENTSUBTYPE_TYPE" />
 <xsd:element name="ContentType" type="CONTENTTYPE_TYPE" />
 <xsd:element name="Continuous" type="OLI_LU_BOOLEAN" />
 <xsd:element name="ContractSitusCanDifferInd" type="OLI_LU_BOOLEAN" />
 <xsd:element name="CurrencyTypeCode" type="OLI_LU_CURRENCYTYPE" />
 <xsd:element name="EffDate" type="xsd:date" />
 <xsd:element name="EndDate" type="xsd:date" />
 <xsd:element name="EnumeratedValue" type="ENUMERATEDVALUE_TYPE" />
 <xsd:element name="ExclusionRatio" type="xsd:double" />
 <xsd:element name="FiledFormNumber" type="xsd:string" />
 <xsd:element name="InforceExclusionCalendarDate" type="xsd:date" />
 <xsd:element name="InforceExclusionContractDate" type="xsd:date" />
 <xsd:element name="Jurisdiction" type="OLI_LU_STATE" />
 <xsd:element name="JurisdictionApprovalKey" type="PERSISTKEY" />
 <xsd:element name="JurisdictionApprovalSysKey" type="SYSKEY" />
 <xsd:element name="KeyName" type="xsd:string" />
 <xsd:element name="KeyValue">
  <xsd:complexType>
   <xsd:simpleContent>
    <xsd:extension base="xsd:string">
     <xsd:attribute name="VendorTC" type="ACORD_TYPE_CODE" use="optional">
     </xsd:attribute>
    </xsd:extension>
   </xsd:simpleContent>
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="LikeConstraintLimit" type="xsd:integer" />
 <xsd:element name="LikeConstraintType" type="OLI_LU_LIKECONSTRAINTTYPE" />
 <xsd:element name="Mode" type="OLI_LU_PAYMODE" default="1" />
 <xsd:element name="Nation" type="OLI_LU_NATION" />
 <xsd:element name="NoNewMoneyDate" type="xsd:date" />
 <xsd:element name="ObjectType" type="OLI_LU_OBJECTTYPE" />
 <xsd:element name="Operation" type="OLI_LU_OPERATION" />
 <xsd:element name="PayoutAmt" type="xsd:decimal" />
 <xsd:element name="PercentageMatch" type="xsd:double" />
 <xsd:element name="PolFee" type="xsd:decimal" />
 <xsd:element name="PropertyName" type="xsd:string" />
 <xsd:element name="PropertyValue">
  <xsd:complexType>
   <xsd:simpleContent>
    <xsd:extension base="xsd:string">
     <xsd:attribute name="tc" type="ACORD_TYPE_CODE" use="optional">
     </xsd:attribute>
    </xsd:extension>
   </xsd:simpleContent>
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="ProviderDomain" type="xsd:string" />
 <xsd:element name="SaleEffectiveDate" type="xsd:date" />
 <xsd:element name="SaleExpirationDate" type="xsd:date" />
 <xsd:element name="StartDate" type="xsd:date" />
 <xsd:element name="TableIdentity" type="xsd:string" />
 <xsd:element name="TableName" type="xsd:string" />
 <xsd:element name="TableRefKey" type="PERSISTKEY" />
 <xsd:element name="TableRefSysKey" type="SYSKEY" />
 <xsd:element name="TimingOption" type="TC_TIMINGOPTION" />
 <xsd:element name="TransSubType" type="TRANS_SUBTYPE_CODES" />
 <xsd:element name="VendorCode" type="xsd:string" />
 <!-- ********** LOOKUPS ********** -->
 <xsd:complexType name="CONTENTSUBTYPE_TYPE">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="CONTENTSUBTYPE_TYPE_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="CONTENTSUBTYPE_TYPE_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="CONTENTTYPE_TYPE">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="CONTENTTYPE_TYPE_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="CONTENTTYPE_TYPE_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:simpleType name="ACORD_TYPE_CODE">
  <xsd:restriction base="xsd:nonNegativeInteger" />
 </xsd:simpleType>
 <xsd:simpleType name="ACORD_PRIVATE_CODE">
  <xsd:restriction base="xsd:nonNegativeInteger">
   <xsd:minInclusive value="1000000000" />
   <xsd:maxInclusive value="1999999999" />
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="DATAREP_TYPES">
  <xsd:restriction base="xsd:NMTOKEN">
   <xsd:enumeration value="Full" />
   <xsd:enumeration value="Partial" />
   <xsd:enumeration value="ReadOnly" />
   <xsd:enumeration value="Removed" />
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="ENUMERATEDTYPECODEVALUE_TYPE">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="ENUMERATEDTYPECODEVALUE_TYPE_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="ENUMERATEDTYPECODEVALUE_TYPE_TC">
  <xsd:restriction base="XTbML_DEFAULT_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="ENUMERATEDVALUE_TYPE">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="T" type="xsd:string" use="optional" />
    <xsd:attribute name="DT" type="xsd:date" use="optional" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:complexType name="OLI_LU_AGECALCMETH">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="OLI_LU_AGECALCMETH_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="OLI_LU_AGECALCMETH_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="OLI_LU_BOOLEAN">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="OLI_LU_BOOLEAN_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="OLI_LU_BOOLEAN_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="OLI_LU_CURRENCYTYPE">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="OLI_LU_CURRENCYTYPE_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="OLI_LU_CURRENCYTYPE_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="OLI_LU_DATATYPE">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="OLI_LU_DATATYPE_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="OLI_LU_DATATYPE_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
        <xsd:complexType name="OLI_LU_LIKECONSTRAINTTYPE">
                <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                                <xsd:attribute name="tc" use="required" type="OLI_LU_LIKECONSTRAINTTYPE_TC" />
                        </xsd:extension>
                </xsd:simpleContent>
        </xsd:complexType>
        <xsd:simpleType name="OLI_LU_LIKECONSTRAINTTYPE_TC">
                <xsd:restriction base="ACORD_TYPE_CODE" />
        </xsd:simpleType>
        <xsd:complexType name="OLI_LU_LOOKUP">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="OLI_LU_LOOKUP_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="OLI_LU_LOOKUP_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="OLI_LU_NATION">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="OLI_LU_NATION_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="OLI_LU_NATION_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="OLI_LU_OBJECTTYPE">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="OLI_LU_OBJECTTYPE_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="OLI_LU_OBJECTTYPE_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="OLI_LU_OPERATION">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="OLI_LU_OPERATION_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="OLI_LU_OPERATION_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="OLI_LU_PAYMODE">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="OLI_LU_PAYMODE_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="OLI_LU_PAYMODE_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="OLI_LU_STATE">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="OLI_LU_STATE_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="OLI_LU_STATE_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="OLI_LU_TRANS_TYPE_CODES">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="OLI_LU_TRANS_TYPE_CODES_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="OLI_LU_TRANS_TYPE_CODES_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:simpleType name="OLI_LU_VARIANTATT">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="PERSISTKEY">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="Persist">
     <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKEN">
       <xsd:enumeration value="Session" />
       <xsd:enumeration value="Permanent" />
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SystemCode" type="xsd:string" />
    <xsd:attribute name="VendorCode" type="xsd:string" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:complexType name="SYSKEY">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="Persist">
     <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKEN">
       <xsd:enumeration value="Session" />
       <xsd:enumeration value="Permanent" />
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SystemCode" type="xsd:string" />
    <xsd:attribute name="VendorCode" type="xsd:string" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:complexType name="TC_TIMINGOPTION">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="TC_TIMINGOPTION_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="TC_TIMINGOPTION_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
 <xsd:complexType name="TRANS_SUBTYPE_CODES">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="tc" use="required" type="TRANS_SUBTYPE_CODES_TC" />
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="TRANS_SUBTYPE_CODES_TC">
  <xsd:restriction base="ACORD_TYPE_CODE" />
 </xsd:simpleType>
<xsd:simpleType name="XTbML_DEFAULT_TYPE_CODE">
  <xsd:union>
   <xsd:simpleType>
    <xsd:restriction base="xsd:integer">
     <xsd:minInclusive  value="-1" />
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType>
    <xsd:restriction base="ACORD_TYPE_CODE" />
   </xsd:simpleType>
  </xsd:union>
 </xsd:simpleType>
</xsd:schema>